body {
    margin: 0;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#name-form-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color:rgb(192, 189, 185);
    border-radius: 5px;
    width: 500px;
    height: 250px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

#name-form-container > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
}

#name-form {

    width: 90%;
    height: 50%;

    margin-top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#name-form > button[type="submit"] {

    border: 0;
    border-radius: 5px;
    background-color: rgb(213, 222, 230);
    padding: 10px 15px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#name-inputs-container {

    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-around;

    
}
.input-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.input-container > label {
    font-weight: 700;
}

.input-container > input {
    border: 0;
    border-radius: 5px;
    padding: 10px;
}



#board {
    width: 500px;
    height: 500px;
    background-color: black;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

#board > div {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #927b7b;
    color: rgb(255, 0, 0);


    font-size: 7rem;
}

[hidden] {
    display: none !important;
  }